target/
lib/
*.jar
*.iml

.classpath
.factorypath
.project
.settings/
.idea/
.vscode/

pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
buildNumber.properties
dependency-reduced-pom.xml
release.properties
